/vendor
/node_modules
/public/build
/public/hot
/public/storage
/storage/*.key
.env
.env.backup
.env.*.local
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
*.log
database/*.sqlite
database/*.sqlite-journal
*.pem
.idea/
.vscode/
*.swp
*.swo
.DS_Store
Thumbs.db
/supervisord.pid
/bootstrap/cache/*.php